API_GEMINI="apiKeyGemini"
GEMINI_MODEL="gemini-3.5-flash" ##nome do modelo (conferir docuemntação do gemini)
MODEL_RPM=5 ##requisições por minuto limite do modelo
EMAIL_ALVO="emaildeteste@gmail.com"