##Cada modelo tem sua maneira de chamar por isso tem as chaves separadas
API_GEMINI="apiKeyGemini"
GEMINI_MODEL="gemini-3.5-flash" ##nome do modelo (conferir docuemntação do gemini)
API_DEEPSEEK="apiKeyDeepSeek"
DEEPSEEK_MODEL="deepseek-v4-flash" ##nome do modelo (conferir docuemntação do deepseek)

##Configurações das requisições
MODEL_RPM=5 ##requisições por minuto limite do modelo
TEMPO_ESPERA_RETRY=60 ##tempo de espera em caso de erro reenviar o prompt

##Configurações do sistema
SENHA_SUDO="senha" ##senha do usuário sudo do terminal

##Configurações testes
EMAIL_ALVO="emaildeteste@gmail.com" ##Email que recebe os testes